from settings_base import *

from mongoengine import connect
connect('coursedata')

TEMPLATE_DEBUG = DEBUG = True

RU_PROJECT_BASE_DIR = "/some/path"

SECRET_KEY = 'INSERT RANDOM KEY HERE'

STATIC_ROOT = RU_PROJECT_BASE_DIR+'/src/static'
