<div id="templateHelp" style="display:none">
    Make these E-Mails a bit more personal:
    <ol>
        <li>Select a variable name from the dropdown below.</li>
        <li>Place your cursor in the textarea where you want the variable to be inserted.</li>
        <li>Press the "Insert" button to the right of the dropdown, which will insert a special pattern in the textarea.</li>
    </ol>
    When sending out E-Mails, these special patterns will be replaced with each individual's value for that variable.
</div>