<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/jquery/jquery-ui-1.8.21.custom.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/ufd/ufd-base.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/ufd/plain.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/dataTables/jquery.dataTables.css" />

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}data_app/css/style.css" />


        <script language="javascript" src="{{ STATIC_URL }}lib/jquery/jquery-1.7.2.min.js" ></script>
        <script language="javascript" src="{{ STATIC_URL }}lib/jquery/jquery-ui-1.8.21.custom.min.js" ></script>
        <script language="javascript" src="{{ STATIC_URL }}lib/ufd/jquery.ui.ufd.js" ></script>
        <script language="javascript" src="{{ STATIC_URL }}lib/dataTables/jquery.dataTables.min.js"></script>
        <script language="javascript" src="{{ STATIC_URL }}lib/dataTables/ColReorder.min.js"></script>
        <script language="javascript" src="{{ STATIC_URL }}lib/canjs/can.jquery-1.0.7.js"></script>
        <script language="javascript" src="{{ STATIC_URL }}lib/canjs/can.fixture.js"></script>
        <script langauge="javascript" src="{{ STATIC_URL }}data_app/js/query.js" ></script>
    </head>

    <body>
        <div id="andVorDiv">
            Display entries that meet
            <select id="andVor">
                <option>all</option>
                <option>any</option>
            </select>
            of these criteria:
        </div>

        <div id="filterDivContainer" style="margin-left: 30px"></div>

        <div id="buttonDiv" style="margin-top:30px">
            <button type="button" onclick="recalculateTable(); return false;">Recalculate Filters</button>
            <button type="button" onclick="addNew(); return false;">Add New Filter</button>
        </div>
        <br />
        <hr />
        <br />

        <div id="result"></div>
    </body>
</html>