<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/jquery/jquery-ui-1.8.21.custom.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/ufd/ufd-base.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/ufd/plain.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/dataTables/jquery.dataTables.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/markitup/skins/markitup/style.css" />

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}data_app/css/style.css" />


        <script language="javascript" src="{{ STATIC_URL }}lib/jquery/jquery-1.7.2.min.js" ></script>
        <script language="javascript" src="{{ STATIC_URL }}lib/jquery/jquery-ui-1.8.21.custom.min.js" ></script>
        <script language="javascript" src="{{ STATIC_URL }}lib/ufd/jquery.ui.ufd.js" ></script>
        <script language="javascript" src="{{ STATIC_URL }}lib/dataTables/jquery.dataTables.min.js"></script>
        <script language="javascript" src="{{ STATIC_URL }}lib/dataTables/ColReorder.js"></script>
        <script language="javascript" src="{{ STATIC_URL }}lib/canjs/can.jquery-1.0.7.js"></script>
        <script language="javascript" src="{{ STATIC_URL }}lib/canjs/can.fixture.js"></script>
        <script language="javascript" src="{{ STATIC_URL }}lib/markitup/jquery.markitup.js"></script>
        <script language="javascript" src="{{ STATIC_URL }}lib/json2.js"></script>
        <script language="javascript" src="{{ STATIC_URL }}data_app/js/query.js" ></script>
    </head>

    <body>
        <div id="andVorDiv"></div>

        <div id="filterDivContainer"></div>

        <div id="buttonDiv" style="margin-top:30px">
            <button type="button" onclick="CourseData.masterDataTable.fnStandingRedraw(); return false;">Recalculate Filters</button>
            <button type="button" id="newFilter">Add New Filter</button>
            <button type="button" id="uploadButton">Upload File</button>
        </div>
        <br />
        <hr />
        <br />
        <div id="visDialogContainer"></div>
        <div id="result">
            <div id="tableDiv">
                <table id="userTable" cellpadding="0" cellspacing="0" border="0" ></table>
            </div>
        </div>

        <div id="sendEmailDiv">
            <button id="sendEmail" class="jq-button">Send These People E-Mails</button>
            <div id="emailDialog">
                <div id="emailForm">
                    <form name="email" action="">
                        <label for="subject">Subject:</label>
                        <input type="text" name="subject" id="subject" value="" size="59" />

                        <textarea rows="10" cols="50" id="body"></textarea>
                    </form>
                </div>
            </div>
        </div>

        <div id="uploadDiv">
            <form id="uploadForm" action="/data/upload/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    <tr>
                        <td><label for="uLongname">Long Name:</label></td>
                        <td><input type="text" name="longname" id="uLongname" /></td>
                    </tr>
                    <tr>
                        <td><label for="uShortname">Short Name:</label></td>
                        <td><input type="text" name="shortname" id="uShortname" /><br /></td>
                    </tr>
                </table>
                <br />
                <input type="file" name="fileUpload" />
            </form>
        </div>
    </body>
</html>