
<ul class="filterContainer">
    <% list(filters, function(filter) { %>
        <li class="filterItem">
            <%== can.view.render('static/data_app/views/filterView.ejs', {
                filter: filter
            }) %>
        </li>
    <% }) %>
</ul>