<% var filterDefined = typeof filter !== 'undefined'; %>
<select class="filterSelect" <%= filterDefined? "value='" + filter.attr('selection') + "'" : "" %>>
    <option></option>
    <% aoColumns = masterDataTable.fnSettings().aoColumns;
    for(var c in aoColumns) { %>
        <option <%= "value=\"" + aoColumns[c].sTitle + "\"" %>
            <% if(filterDefined && aoColumns[c].sTitle === filter.attr('selection')) { %>
                selected="selected"
            <% } %>><%= aoColumns[c].sTitle %></option>
    <% } %>
</select>