<div id="<%= title %>Success" class="successStatus" style="display:none"></div>
<div id="<%= title %>Error" class="errorStatus" style="display:none"></div>
<div id="<%= title %>Pending" class="pendingStatus" style="display:none">
    <img src="/static/data_app/images/loading.gif" height="24" width="24" style="vertical-align:middle" />
    <span id="<%= title %>PendingText"></span>
</div>