<div id="visDialog">
    <div style="max-height: 500px">
        <ul id="visList">
            <% for(var source in columns) { %>
                <li>
                    <h3><%= source %></h3>
                    <ul>
                        <% for(var column in columns[source]) { %>
                            <% var actualColumn = columns[source][column]; %>
                            <li>
                                <input type="checkbox" class="colVisCheckbox" <%= "id=\"vis-" + actualColumn.title.replace(/ /g, "_") + "\" name=\"" + actualColumn.title + "\" " + (actualColumn.visible? "checked=\"checked\"" : "")%>></input>
                                <label <%= "for=\"vis-" + actualColumn.title.replace(/ /g, "_") + "\"" %>><%= actualColumn.title %></label>
                            </li>
                        <% } %>
                    </ul>
                </li>
            <% } %>
        </ul>
    </div>
</div>
<div style="text-align:right">
    <button type="button" id="visDialogButton" class=".ui-button">Show / Hide Columns</button>
</div>