<div id="visDialog">
    <div style="max-height: 500px">
        <ul id="visList">
            <% list(columns, function(column) { %>
                <li>
                    <input type="checkbox" class="colVisCheckbox" <%= "id=\"vis-" + column.sTitle.replace(/ /g, "_") + "\" name=\"" + column.sTitle + "\" " + (column.bVisible? "checked=\"checked\"" : "")%>></input>
                    <label <%= "for=\"vis-" + column.sTitle.replace(/ /g, "_") + "\"" %>><%= column.sTitle %></label>
                </li>
            <% }); %>
        </ul>
    </div>
</div>
<div style="text-align:right">
    <button type="button" id="visDialogButton" class=".ui-button">Show / Hide Columns</button>
</div>