.emailStatus
    text-align: center
    font-size: 1.1em
    margin: 3px 0
    padding: 2px 0
    border: 1px solid
    border-radius: 3px

#emailError
    background: #FFE0E0
    color: #D8000C

#emailSuccess
    color: #4F8A10
    background-color: #E8F0DC

#emailPending
    color: #00529B
    background-color: #D4EAF5