
#emailForm
    text-align: center

.markItUpUfd .ufd
    top: -1px

.markItUpUfd
    padding-right: 5px
    padding-left: 2px

// I'd rather these not be static paths, but I can't think of a
// better way to do it at the moment
.markItUp .markItUpButton1 a
    background-image: url(/static/data_app/images/bold.png)

.markItUp .markItUpButton2 a
    background-image: url(/static/data_app/images/italic.png)

.markItUp .markItUpButton3 a
    background-image: url(/static/data_app/images/pencil_add.png)


// Push the help button all the way to the right
.markItUp .markItUpButton4
    float: right
    margin-right: 3px

.markItUp .markItUpButton4 a
    background-image: url(/static/data_app/images/help.png)