.displayList, .displayListLi
    list-style-type: none

.courseList,
    padding-left: 40px

.courseListLi
    margin-bottom: 15px
    margin-left: 0

.no-close .ui-dialog-titlebar-close
    display: none

.no-title .ui-dialog-titlebar
    display: none

.centerText
    text-align: center

#loadingDialog
    text-align: center
    line-height: 150px

#loadingDialog span
    margin-left: 10px