@import "filters.sass"
@import "markItUp.sass"
@import "email.sass"

// Put UFD in-line with text (it typically appears a bit high)
.ufd
    top: 8px
    left: 0px

// Move the sort icon up next to the text, where it belongs
.DataTables_sort_icon
    display: inline-block
    position: relative
    top: 3px
    left: 5px

// Add a bit of padding to the top and bottom bars of the datatable
.fg-toolbar
    padding: 5px

// Ensure the email button is centered and separated from the table above it
#sendEmailDiv
    margin: 20px 0px
    text-align: center

.sendButton span
    font-weight: bold
