// Put UFD in-line with text (it typically appears a bit high)
.ufd
    top: 8px
    left: 0px

.fg-toolbar
    padding: 5px

// Indent the filters a bit
#filterDivContainer
    padding-left: 30px

// IE was causing weird problems with the dropdown without this
.filterDiv
    padding: 0px
    margin: 0px

// Ensure that the lists don't actually look like lists
.filterContainer, #visList
    list-style-type: none
    padding: 0
    margin: 0

.filterContainer li, #visList li
    list-style-type: none
    padding: 0
    margin: 0

// Move the sort icon up next to the text, where it belongs
.DataTables_sort_icon
    display: inline-block
    position: relative
    top: 3px
    left: 5px