.ufd
    top: 8px
    left: 0px

.fg-toolbar
    padding: 5px

#filterDivContainer
    padding-left: 30px

.filterDiv
    padding: 0px
    margin: 0px

.filterContainer, #visList
    list-style-type: none
    padding: 0
    margin: 0

.filterContainer li, #visList li
    list-style-type: none
    padding: 0
    margin: 0

.DataTables_sort_icon
    display: inline-block
    position: relative
    top: 3px
    left: 5px